@import '../../styles/partials/mixins';

.root {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: var(--mantine-color-brand-4);
}

.title {
  font-size: 4.4rem;
  line-height: 1.2;
  font-weight: 900;
}

.subtitle {
  padding-left: 1.6rem;
}

.emoji {
  font-size: 3.6rem;
}

.titleContainer {
  @include flex(column);
  margin-bottom: 3rem;
}
