@import '../../styles/partials/variables';

.control {
  @media (max-width: $mobileL-breakpoint) {
    flex: 1;
  }
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-secondary-6) !important;

  &:hover {
    background-color: var(--mantine-color-secondary-5) !important;
    border-color: var(--mantine-color-secondary-6) !important;
    color: var(--mantine-color-white) !important;
  }

  &:active {
    background-color: var(--mantine-color-secondary-7) !important;
    border-color: var(--mantine-color-secondary-8) !important;
  }
}
