//primary colours
$primary-text-color: #323232;
$primary-background-color: #ffffff;
$primary-cta-color: #fbc204;
$primary-border-color: #f59b06;
$secondary-text-color: #afafaf;

//secondary colours
$shadow-color: #000000;
$secondary-background-color: #dddddd;
$secondary-border-color: #bd6f09;
$cta-hover-color: #fcd730;
$divider-form-color: #e1e1e1;
$input-background-color: #fafafa;
$error-color: #d91818;

//Responsive breakpoints
$mobileL-breakpoint: 425px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
