@import '../../styles/partials/variables';

.root {
	background-color: var(--mantine-color-brand-5);
}

.inner {
	display: flex;
	justify-content: space-between;
	padding-top: calc(var(--mantine-spacing-xl) * 4);
	padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
	max-width: 48rem;
	margin-right: calc(var(--mantine-spacing-xl) * 3);

	@media (max-width: $tablet-breakpoint) {
		max-width: 100%;
		margin-right: 0;
	}
}

.title {
	color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
	font-family:
		Greycliff CF,
		var(--mantine-font-family);
	font-size: 4.4rem;
	line-height: 1.3;
	font-weight: 900;

	@media (max-width: $mobileL-breakpoint) {
		font-size: 2.8rem;
	}
}

.subtitle {
	color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
	font-size: 2.2rem;
}

.emoji {
	font-size: 3.6rem;
}

.text {
	color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
	font-size: 1.8rem;
}

.bullet {
	background-color: var(--mantine-color-secondary-3);
}

.image {
	width: 37.6rem;
	height: 35.6rem;

	@media (max-width: $tablet-breakpoint) {
		display: none;
	}
}

.highlight {
	position: relative;
	background-color: var(--mantine-color-blue-light);
	border-radius: var(--mantine-radius-sm);
	padding: 0.4rem 1.2rem;
}
