.root {
	background-color: var(--mantine-color-brand-5);
}

.inner {
	display: flex;
	justify-content: space-between;
	padding-top: calc(var(--mantine-spacing-xl) * 4);
	padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
	max-width: rem(480px);
	margin-right: calc(var(--mantine-spacing-xl) * 3);

	@media (max-width: $mantine-breakpoint-md) {
		max-width: 100%;
		margin-right: 0;
	}
}

.title {
	color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
	font-family:
		Greycliff CF,
		var(--mantine-font-family);
	font-size: rem(44px);
	line-height: 1.3;
	font-weight: 900;

	@media (max-width: $mantine-breakpoint-xs) {
		font-size: rem(28px);
	}
}

.subtitle {
	color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
	font-size: rem(22px);
}

.emoji {
	font-size: rem(36px);
}

.text {
	color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
	font-size: rem(18px);
}

.bullet {
	background-color: var(--mantine-color-secondary-3);
}

.control {
	@media (max-width: $mantine-breakpoint-xs) {
		flex: 1;
	}
}

.image {
	width: rem(376px);
	height: rem(356px);

	@media (max-width: $mantine-breakpoint-md) {
		display: none;
	}
}

.highlight {
	position: relative;
	background-color: var(--mantine-color-blue-light);
	border-radius: var(--mantine-radius-sm);
	padding: rem(4px) rem(12px);
}
