@import '../../styles/partials/variables';

.root {
  @media (max-width: $mobileL-breakpoint) {
    flex: 1;
  }

  color: var(--mantine-color-brand-0);
  background-color: var(--mantine-color-brand-4) !important;
  border-color: var(--mantine-color-accent-7) !important;

  &:hover {
    background-color: var(--mantine-color-brand-6) !important;
    color: var(--mantine-color-brand-0) !important;
  }

  &:active {
    background-color: var(--mantine-color-brand-7) !important;
    border-color: var(--mantine-color-accent-4) !important;
  }
}
