@import '../../styles/partials/variables';

.anchor {
	@media (max-width: $mobileL-breakpoint) {
		flex: 1;
	}
	color: var(--mantine-color-white);
	background-color: var(--mantine-color-brand-6);
	border-color: var(--mantine-color-accents-7);

	&:hover {
		background-color: var(--mantine-color-accents-3);
		border-color: var(--mantine-color-accents-7);
	}
}
