@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

@font-face {
  font-family: 'Hyperion';
  src: url('../../assets/fonts/Hyperion/hyperion-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.footer {
  padding-top: calc(var(--mantine-spacing-xl));
  padding-bottom: calc(var(--mantine-spacing-xl));
  background-color: light-dark(var(--mantine-color-brand-6), var(--mantine-color-dark-6));
  border-top: 0.1rem solid light-dark(var(--mantine-color-accent-3), var(--mantine-color-dark-4));
}

.inner {
  @include flex(column);
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);

  @include tablet {
    flex-direction: row;
  }
}

.company {
  @include flex();
  font-family: 'Hyperion';
  font-size: 4.8rem;
}

.bluefin {
  width: 2.8rem !important;
}

.bluefinText {
  font-size: 2.4rem !important;
}

.license {
  font-size: 0.6rem !important;
  color: var(--mantine-color-white);
  text-align: center;

  @include tablet {
    text-align: start;
  }
}

.links {
  margin-top: var(--mantine-spacing-lg);
  margin-bottom: var(--mantine-spacing-sm);
  @include tablet {
    margin: 0;
  }
}

.link {
  color: var(--mantine-color-white);
}

.icon {
  background-color: var(--mantine-color-secondary-5);

  &:hover {
    border-color: var(--mantine-color-secondary-6);
    background-color: var(--mantine-color-secondary-5);
    color: var(--mantine-color-white);
  }

  &:focus {
    outline: 0.2rem solid var(--mantine-color-secondary-6);
    background-color: var(--mantine-color-secondary-5);
  }
}
